 {
    padding:0;
    margin:0;
    font-family: 'Quicksand', sans-serif;
    color: #000000;
}
header {
    height:70px;
}
header h1 {
    display: inline-block;
    float: left;
    padding:15px 24px;
    text-transform: uppercase;
}
header h1 a {
    transition: .3s;
}
header h1 a:hover {
    color: #000000;
}
header ul {
    float: right;
}
header ul li {
    padding:24px;
    display: inline-block;
}
header ul li a {
    transition: .3s;
}
header ul li a:hover {
    color: #000000;
}
a {
    text-decoration: none;
}
.container {
    width:90%;
    margin:0 auto;
}
.container::after {
    content: '';
    display: block;
    clear: both;
}
#check {
    display: none;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width:300px;
    background-color: #000000;
    transition: .3s;
    z-index: 9999;
}
.sidebar ul li a {
    color: #000000;
}
.sidebar ul li {
    padding:24px;
    transition: .3s;
    transition-property: background-color;
}
.sidebar ul li:hover {
    background-color: #000000;
}
#check:checked ~ .sidebar {
    left: 0;
}
.banner {
    background-color: #000000;
    padding:150px 0;
}
section {
    padding:50px 0;
}
.banner img {
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 3px 5px #ddd;
    margin-bottom: 10px;
}
.banner h2,
.banner p,
.banner span {
    color: #ffffff;
}
.banner h2 {
    margin-bottom: 10px;
}
.banner p {
    font-size: 15px;
}
.banner-left {
    padding-left:20px;
}
section h3 {
    padding-bottom: 20px;
    text-align: center;
    margin:20px;
    position: relative;
}
section h3::before {
    content:'';
    display: block;
    position: absolute;
    bottom: 0;
    width:120px;
    height:1px;
    background-color: #000000;
    left: calc(50% - 60px);
}
section h3::after {
    content:'';
    display: block;
    position: absolute;
    bottom: -1px;
    width:40px;
    height:4px;
    background-color: #F84744;
    left: calc(50% - 20px);
}
#about p {
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 15px;
}
#skills,
#contact {
    background-color: #f9f9f9;
}
#skills .bar {
    height: 30px;
    background-color: #fff;
    border:1px solid #ddd;
    margin: 5px 0 20px 0;
}
.bar .nilai {
    height:30px;
    background-color: #000000;
    display: inline-block;
    color: #ffffff;
    text-align: center;
}
.html {
    width:80%;
}
.ps {
    width:90%;
}
.word {
    width:80%;
}
.col-4 {
    width:25%;
    box-sizing: border-box;
    padding:5px;
    float: left;
    text-align: center;
    margin-bottom: 15px;
}
.col-4 img {
    width:100%;
}
.col-4 a:hover img {
    transform: scale(1.1);
}
.col-3 {
    width:33.33%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding:50px 10px;
}
.col-3 h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
footer {
    background-color: #000000;
    padding:50px;
    text-align: center;
}
footer small {
    color: #ffffff;
}
html {
    scroll-behavior: smooth;
}

@media (max-width: 768px){
    header ul {
        display: none;
    }
    .col-4 {
        width:50%;
    }
    .col-3 {
        width:100%;
    }
}